node_modules
npm-debug.log
.DS_STORE
.vscode
.envrc
.yarnrc
*.code-workspace
lerna-debug.log
yarn-debug.log*
yarn-error.log*
package-lock.json

# Ignore TCK-related files in all folders
okta-oidc-tck*
tck-keystore.pem
target
packages/okta-vue/test/e2e/harness/config/dev.env.js

# package info files are generated during build and included in final artifacts
packageInfo.js
packageInfo.ts
coverage
*.tgz
.idea/
