language: node_js

node_js:
- '8.10'

addons:
  chrome: stable
  apt:
    packages:
      - oracle-java8-set-default

script:
- yarn install
- sh ./scripts/runTests.sh
- bash ./scripts/snyk.sh

install:
- yarn install

before_install:
- curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
- export PATH="$HOME/.yarn/bin:$PATH"
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sudo apt-get update
- sudo apt-get install -y libappindicator1
