language: node_js

node_js:
- '8.9'

addons:
  chrome: stable
  apt:
    packages:
      - oracle-java8-set-default

script:
- npm install
- npm run bootstrap
- sh ./scripts/runTests.sh
- bash ./scripts/snyk.sh

install:
- npm install

before_install:
- "npm install -g npm@5.6.0"
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sudo apt-get update
- sudo apt-get install -y libappindicator1
